@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {

    /*=============== COLOR VARIABLES ===============*/
    --color-first-color: hsl(28, 95%, 60%);
    --color-first-color-alt: hsl(28, 95%, 46%);
    --color-beige-color: hsl(40, 45%, 86%);
    --color-beige-color-light: hsl(40, 45%, 94%);
    --color-beige-color-alt: hsl(40, 35%, 72%);
    --color-brown-color: hsl(18, 15%, 24%);
    --color-title-color: hsl(0, 0%, 6%);
    --color-text-color: hsl(0, 0%, 40%);
    --color-white-color: hsl(0, 0%, 98%);
    --color-body-color: hsl(0, 0%, 100%);
    --color-container-color: hsl(0, 0%, 96%);
    --color-border-color: hsl(0, 0%, 85%);

    /*========== Font and typography ==========*/
    --font-body-font: "Montserrat", sans-serif;
    --font-second-font: "Chakra Petch", sans-serif;
    --text-text-biggest-font-size: 1.875rem;
    --text-big-font-size: 1.5rem;
    --text-h1-font-size: 1.5rem;
    --text-h2-font-size: 1.25rem;
    --text-h3-font-size: 1rem;
    --text-normal-font-size: .938rem;
    --text-small-font-size: .813rem;
    --text-smaller-font-size: .75rem;

    /*========== breakpoint ==========*/
    --breakpoint-max-2lg: 72rem;
    --breakpoint-xs: 34rem;
    --breakpoint-small: 400px;
}

@layer utilities {
    .nav_link {
        @apply text-black font-body-font font-medium transition-colors duration-500 lg:text-white text-lg hover:text-first-color;
    }

    .container {
        @apply mx-auto max-w-7xl px-4;
    }

    .swiper-slide,
    .swiper-slide img {
        @apply w-[250px] max-w-[250px] rounded-2xl lg:w-[350px] lg:max-w-[350px];
    }

    .swiper-navigation-icon {
        @apply hidden;
    }

    .swiper-pagination-fraction {
        @apply mt-16
    }

}


/*========== Base variables ==========*/
@layer base {
    html {
        @apply scroll-smooth;
    }

    body,
    input,
    button {
        @apply font-body-font text-normal-font-size;
    }

    body {
        @apply bg-white-color text-title-color;
    }

    input,
    button {
        @apply bg-none outline-none border-none;
    }

    h1,
    h2,
    h3,
    h4 {
        @apply text-title-color font-second-font font-bold leading-[120%];
    }

    ul {
        @apply list-none;
    }

    a {
        text-decoration: none;
    }

    img {
        @apply max-w-full block h-auto;
    }

    section {
        @apply pt-16 pb-4 w-full;
    }

}

.work_swiper {
    padding-top: 3.5rem;
    position: relative;
}

.work_swiper .swiper-pagination-fraction {
    color: black;
    font-weight: 600;
    top: -3.7rem;
    max-height: 50px;
}

.work_swiper .swiper-button-next,
.work_swiper .swiper-button-prev {
    position: absolute;
    color: black;
    font-size: 2rem;
    top: 1rem !important;
}

.work_swiper .swiper-button-next {
    left: calc(50% + 2rem) !important;
}

.work_swiper .swiper-button-prev {
    left: calc(50% - 5rem) !important;
}
