@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {

    /*=============== COLOR VARIABLES ===============*/
    --color-first-color: hsl(28, 95%, 60%);
    --color-first-color-alt: hsl(28, 95%, 46%);
    --color-beige-color: hsl(40, 45%, 86%);
    --color-beige-color-light: hsl(40, 45%, 94%);
    --color-beige-color-alt: hsl(40, 35%, 72%);
    --color-brown-color: hsl(18, 15%, 24%);
    --color-title-color: hsl(0, 0%, 6%);
    --color-text-color: hsl(0, 0%, 40%);
    --color-white-color: hsl(0, 0%, 98%);
    --color-body-color: hsl(0, 0%, 100%);
    --color-container-color: hsl(0, 0%, 96%);
    --color-border-color: hsl(0, 0%, 85%);

    /*========== Font and typography ==========*/
    --font-body-font: "Montserrat", sans-serif;
    --font-second-font: "Chakra Petch", sans-serif;
    --text-text-biggest-font-size: 1.875rem;
    --text-big-font-size: 1.5rem;
    --text-h1-font-size: 1.5rem;
    --text-h2-font-size: 1.25rem;
    --text-h3-font-size: 1rem;
    --text-normal-font-size: .938rem;
    --text-small-font-size: .813rem;
    --text-smaller-font-size: .75rem;

    /*========== breakpoint ==========*/
    --breakpoint-max-2lg: 72rem;
    --breakpoint-xs: 34rem;
    --breakpoint-small: 400px;
}

@layer utilities {
    .nav_link {
        @apply text-black font-body-font font-medium transition-colors duration-500 lg:text-white text-lg hover:text-first-color;
    }

    .container {
        @apply mx-auto max-w-7xl px-4;
    }

    /*========== REPETITIVE CLASSES OF WORK SECTION ==========*/

    .work_swiper .swiper-slide,
    .work_swiper .swiper-slide img {
        @apply w-[250px] max-w-[250px] rounded-2xl lg:w-[350px] lg:max-w-[350px];
    }

    .swiper-navigation-icon {
        @apply hidden;
    }

    .swiper-pagination-fraction {
        @apply mt-16
    }

    /*========== REPETITIVE CLASSES OF SERVICES SECTION ==========*/

    .service_plan{
        @apply flex justify-between border-b border-beige-color-alt mb-[.40rem] text-lg lg:pb-[.60rem];
    }

    .service_plan:last-child{
        @apply border-none;
    }

    .service_name{
        @apply lg:text-2xl;
    }

    .service_price{
        @apply font-semibold lg:text-2xl;
    }

    /*========== REPETITIVE CLASSES OF EXPERTS SECTION ==========*/

    .expert-card{
        @apply  bg-beige-color w-full rounded-2xl flex justify-center gap-8 p-4 pb-0 sm:justify-self-center lg:flex-col-reverse lg:w-fit lg:p-[1rem_1rem_0] xl:w-[250px];
    }

    .expert_img{
        @apply w-[120px] origin-bottom-left transition-transform duration-400 hover:scale-105 sm:w-[150px] lg:w-[190px];
    }

    .expert_data{
        @apply flex flex-col justify-center gap-y-2 lg:flex-row lg:justify-between;
    }

    .expert_socials{
        @apply   flex gap-x-1 lg:flex-col;
    }

    .expert_name{ 
        @apply   text-lg font-bold mb-[.3rem] sm:text-2xl;
    }

    .expert_proffesion{
        @apply text-xs text-text-color sm:text-sm;
    }

    .expert_social_link{
        @apply text-text-color transition-colors duration-400 hover:text-title-color;
    }

    .expert_social_link a i {
        @apply origin-bottom-left text-xl sm:text-2xl;
    }

    /*========== REPETITIVE CLASSES OF CONTACT SECTION ==========*/
    .contact_card{
        @apply flex gap-x-6 items-center border-b border-gray-200 pb-10;
    }   

    .contact_card:last-child{
        @apply border-0 pb-0;
    }

    .contact_icon i{
        @apply  bg-black text-white text-4xl p-3 rounded-xl;
    }

    .contact_info{
        @apply grid gap-y-2
    }

    .contact_title{
        @apply text-xl
    }

    .conatct_address {
        @apply font-medium;
    }

    .conatct_address a{
        @apply block not-italic;
    }

    /*========== REPETITIVE CLASSES OF FOOTER ==========*/

    .footer_social_links li {
        @apply text-black transition-colors duration-400 hover:text-gray-500;
    }

    .footer_social_links li a i {
        @apply text-2xl  
    }

    .footer_link{
        @apply transition-all duration-300 hover:font-medium;
    }

}


/*========== Base variables ==========*/
@layer base {
    html {
        @apply scroll-smooth;
    }

    body,
    input,
    button {
        @apply font-body-font text-normal-font-size;
    }

    body {
        @apply bg-white-color text-title-color;
    }

    input,
    button {
        @apply bg-none outline-none border-none;
    }

    h1,
    h2,
    h3,
    h4 {
        @apply text-title-color font-second-font font-bold leading-[120%];
    }

    ul {
        @apply list-none;
    }

    a {
        text-decoration: none;
    }

    img {
        @apply max-w-full block h-auto;
    }

    section {
        @apply pt-20 pb-16 lg:pt-40 lg:pb-20 w-full;
    }

}

/* ==================== WORK SWIPER STYLES ==================== */

.work_swiper {
    padding-top: 3.5rem;
    position: relative;
}

/* ==================== WORK SWIPER PAGINATION ==================== */

.work_swiper .swiper-pagination-fraction {
    color: black;
    font-weight: 600;
    top: -3.7rem;
    max-height: 50px;
}

/* ==================== WORK SWIPER BUTTONS ==================== */

.work_swiper .swiper-button-next,
.work_swiper .swiper-button-prev {
    position: absolute;
    color: black;
    font-size: 2rem;
    top: 1rem !important;
}

.work_swiper .swiper-button-next {
    left: calc(50% + 2rem) !important;
}

.work_swiper .swiper-button-prev {
    left: calc(50% - 5rem) !important;
}


/* ==================== SERVICES SWIPER STYLES ==================== */

.service_swiper{
    padding-inline: 1rem;
    padding-block: 2rem;
}

.service_swiper .swiper-wrapper{
    width : 100%;
}

.service_swiper .swiper-slide{
    width : 100%;
}

.service_swiper .swiper-pagination {
    position: absolute;
    top: 64%;
}

/* ==================== SERVICES SWIPER PAGINATION ==================== */

.service_swiper .swiper-pagination .swiper-pagination-bullet{
    width: 27px;
    height: 3px;
    border-radius: .5rem;
    background-color: black !important;
    transition: .4s;
}

/* ==================== SERVICES SWIPER BUTTONS ==================== */

.service_swiper .swiper-button-next,
.service_swiper .swiper-button-prev {
    display: inline-flex;
    justify-content : center;
    align-items: center;
    font-size: 1.2rem;
    color: black;
    height: 26px;
    width: 26px;
    border: 2px solid;
    border-radius: 50%;  
    top: calc(100% - 2rem) !important;
}

.service_swiper .swiper-button-next{
    left: calc(100% - 3rem) !important;
}

.service_swiper .swiper-button-prev{
    left: calc(100% - 6rem) !important;
}

/* ==================== MEDIA QUERIES FOR SERVICES SWIPER ==================== */
@media (width >= 540px) {
    .service_swiper{
        padding-inline: 2rem;
    }
}

@media (width >= 640px){
    #services_Container{
        grid-template-columns: 450px;
        justify-content : center;
        align-items: center;
    }

    .service_swiper .swiper-button-next{
        left: calc(100% - 3.8rem) !important;
    }

    .service_swiper .swiper-button-prev{
        left: calc(100% - 6.5rem) !important;
    }
}

@media (width >= 1024px) {
    #services_Container{
        grid-template-columns: repeat(2, 460px);
        column-gap: 3.5rem;
    }

    .service_swiper{
        padding: 3.5rem;
    }

    .service_swiper .swiper-button-next{
        left: calc(100% - 5rem) !important;
        top: calc(100% - 3.5rem) !important;
    }

    .service_swiper .swiper-button-prev{
        left: calc(100% - 8rem) !important;
        top: calc(100% - 3.5rem) !important;
    }
}